<section style="display: flex;flex-direction:column;height:100%;">
    <div class="form-group">
        <label>{{localize "BREAK.Name"}}</label>
        <input type="text" name="name" value="{{action.name}}">
    </div>

    <div style="display:flex;width:100%;column-gap:12px;">
        <div class="form-group" style="width: 50%;">
            <label>{{localize "BREAK.RollType"}}</label>
            <select name="rollType" class="roll-type-select">
            {{#each rollTypes as |type key|}}
                <option value="{{type.key}}" {{#if (eq type.key ../action.rollType)}}selected{{/if}}>
                {{localize type.label}}
                </option>
            {{/each}}
            </select>
        </div>
        <div class="form-group aptitude-select" style="width:50%;display: none;">
            <label>{{localize "BREAK.Aptitude"}}</label>
            <select name="aptitude">
            {{#each aptitudes as |aptitude key|}}
                <option value="{{aptitude.key}}" {{#if (eq aptitude.key ../action.aptitude)}}selected{{/if}}>
                {{localize aptitude.label}}
                </option>
            {{/each}}
            </select>
        </div>
        <div class="form-group vs-select" style="width:50%;display: none;">
            <label>{{localize "BREAK.VS"}}</label>
            <select name="vs">
            {{#each aptitudes as |aptitude key|}}
                <option value="{{aptitude.key}}" {{#if (eq aptitude.key ../action.vs)}}selected{{/if}}>
                {{localize aptitude.label}}
                </option>
            {{/each}}
            </select>
        </div>
    </div>
    
    <div class="form-group">
        <label>{{localize "BREAK.ActionCost"}}</label>
        <select name="cost">
        {{#each costs as |cost key|}}
            <option value="{{cost.key}}" {{#if (eq cost.key ../action.cost)}}selected{{/if}}>
            {{localize cost.label}}
            </option>
        {{/each}}
        </select>
    </div>
    
    <label>{{localize "BREAK.Description"}}</label>
    <div class="form-group" style="flex: 1;">
        <prose-mirror style="flex: 1;" name="description" value="{{ action.description }}"></prose-mirror>
    </div>

    <footer class="sheet-footer flexrow">
        <button type="submit" class="dialog-button"><i class="fas fa-save"></i> Save</button>
    </footer>
</section>