<section class="scrollable">
    <h2>{{localize "CONFIG.ArmorTypeConfiguration"}}</h2>
    {{#each armorTypes as |type key|}}
    <fieldset>
        <legend>{{key}}</legend>
        <label>{{localize "BREAK.Name"}}: <input type="text" name="armorTypes.{{key}}.label" value="{{type.label}}"/></label>
        <label>{{localize "BREAK.Defense"}}: <input type="number" name="armorTypes.{{key}}.defense" value="{{type.defense}}"/></label>
        <label>{{localize "BREAK.MaxSpeed"}}: <input type="number" name="armorTypes.{{key}}.speedLimit" value="{{type.speedLimit}}"/></label>
        <label>{{localize "BREAK.Slots"}}: <input type="number" name="armorTypes.{{key}}.slots" value="{{type.slots}}"/></label>
        <div style="display: flex;align-items:center; flex: 1;justify-content:flex-end;column-gap: 12px; margin-top:17px;">
            <i class="fas fa-gem"></i>
            <input name="armorTypes.{{key}}.value.gems" value="{{type.value.gems}}" placeholder="0" class="money-input" type="number"/>
            <i class="fas fa-coins"></i>
            <input name="armorTypes.{{key}}.value.coins" value="{{type.value.coins}}" placeholder="0" class="money-input" type="number"/>
            <i class="fas fa-coin-vertical"></i>
            <input name="armorTypes.{{key}}.value.stones" value="{{type.value.stones}}" placeholder="0" class="money-input" type="number"/>
        </div>
    </fieldset>
    {{/each}}
</section>