<section class="flexcol {{cssClass}} scrollable" style="height: 100%;" autocomplete="off">
    <select name="system.subtype" style="flex: 0;">
        <option value=""></option>
        {{#each abilityTypes as |type|}}
        <option value="{{type.key}}" {{#if type.active}}selected="selected"{{/if}}>{{type.label}}</option>
        {{/each}}
    </select>
    {{#when document.system.subtype 'eq' 'calling'}}
        <select name="system.level" style="flex: 0;">
            <option value=""></option>
            {{#each @root.abilityLevels as |type|}}
            <option value="{{type.key}}" {{#if type.active}}selected="selected"{{/if}}>{{type.label}}</option>
            {{/each}}
        </select>
    {{/when}}
    <div class="flexcol" style="flex: 1;">
        <div class="section-header">
            {{localize "BREAK.Description"}}
        </div>
        {{#if editable}}
        <prose-mirror name="system.description" value="{{ document.system.description }}" style="flex:1;"></prose-mirror>
        {{else}}
        <div class="editor">
            <div class="editor-content">{{{ descriptionHTML }}}</div>
        </div>
        {{/if}}
    </div>
</section>
