<section class="tab description scrollable flexcol {{tabs.description.cssClass}}" data-group="primary" data-tab="description" style="height: 100%;">
    <div class="flexcol" style="flex: 1;">
        <div class="section-header">
            {{localize "BREAK.Rules"}}
        </div>
        {{#if editable}}
        <prose-mirror name="system.rules" value="{{ document.system.rules }}"></prose-mirror>
        {{else}}
        <div class="editor">
            <div class="editor-content">{{{ rulesHTML }}}</div>
        </div>
        {{/if}}
    </div>
</section>
