<header class="companion-header" style="margin-bottom: 12px;">
    <div class="flexrow" style="margin-bottom: 10px;">
        <div class="name-banner">
            <input name="name" type="text" value="{{document.name}}" placeholder="{{localize 'BREAK.Name'}}" />
        </div>
        <label style="flex: 0; min-width:100px;"><input name="system.named" type="checkbox" {{checked document.system.named}} /> {{localize "BREAK.COMPANION.Named"}}</label>
        <a
            class="clickable"
            data-action="toggleEditable"
            style="display:flex; align-items:center; justify-content:center; width:32px; margin-left:8px;flex: 0;"
        >
            <i class="fas {{#if editable}}fa-lock-open{{else}}fa-lock{{/if}}"></i>
        </a>
    </div>
    <div class="flexrow" style="margin-bottom:12px;">
        {{#if editable}}
        <prose-mirror name="system.description" value="{{ document.system.description }}"></prose-mirror>
        {{else}}
        <div class="editor">
            <div class="editor-content">{{{ descriptionHTML }}}</div>
        </div>
        {{/if}}
        <img class="profile-img" src="{{document.img}}" title="{{document.name}}" data-action="editImage" data-field="img" style="flex: 0;"/>
    </div>
    <div class="flexrow" style="column-gap: 12px;">
        <select name="system.category">
            {{#each categories as |category|}}
                <option value="{{category.key}}" {{#if category.active}}selected="selected"{{/if}}>{{category.label}}</option>
            {{/each}}
        </select>
        <select name="system.size">
            {{#each sizes as |size|}}
                <option value="{{size.key}}" {{#if size.active}}selected="selected"{{/if}}>{{size.label}}</option>
            {{/each}}
        </select>
    </div>
</header>
