<section class="tab description scrollable {{tabs.details.cssClass}}" style="height: 100%;" data-group="primary" data-tab="details">
    <div style="display: flex; gap: 15px; flex: 0;">
        <div class="flexcol" style="flex: 1;">
            <div style="display: flex;">
                <div class="base-speed" style="flex: 0;">
                    <div class="section-header" id="baseSpeed">{{localize "BREAK.Speed"}}</div>
                    <input name="system.baseSpeed" value="{{document.system.baseSpeed}}" placeholder="0" type="number" style="width:32px; text-align:center;margin-left: 6px;"/>
                </div>
                <div class="base-defense" style="flex: 0;">
                    <div class="section-header" id="baseDefense">{{localize "BREAK.Defense"}}</div>
                    <input name="system.baseDefense" value="{{document.system.baseDefense}}" placeholder="0" type="number" style="width:32px; text-align:center;margin-left: 6px;"/>
                </div>
            </div>
        </div>
        <div class="flexcol" style="flex: 1;">
            <div class="gear-allowance-drag-slot flexcol" style="flex: 0;">
                <div class="section-header">{{localize "BREAK.GEAR.ArmorAllowances"}}</div>
                <select name="armorAllowance" >
                    <option value="">Pick an item</option>
                    {{#each armorTypes as |type|}}
                        <option value="{{type.key}}" {{#if type.disabled}}disabled{{/if}}>{{type.label}}</option>
                    {{/each}}
                </select>
                <div style="display: flex;flex-wrap:wrap;row-gap:8px;margin-top:12px;">
                    {{#each armorAllowances as |allowance|}}
                        <label style="width: 33%;max-width:250px;"><i data-action="removeAllowance" data-type="armor" data-key="{{allowance.key}}" class="fa-regular fa-xmark clickable"></i>{{allowance.label}}</label>
                    {{/each}}
                </div>
            </div>
            <div class="gear-allowance-drag-slot flexcol" style="flex: 0;">
                <div class="section-header">{{localize "BREAK.GEAR.ShieldAllowances"}}</div>
                <select name="shieldAllowance" >
                    <option value="">Pick an item</option>
                    {{#each shieldTypes as |type|}}
                        <option value="{{type.key}}" {{#if type.disabled}}disabled{{/if}}>{{type.label}}</option>
                    {{/each}}
                </select>
                <div style="display: flex;flex-wrap:wrap;row-gap:8px;margin-top:12px;">
                    {{#each shieldAllowances as |allowance|}}
                        <label style="width: 33%;max-width:250px;"><i data-action="removeAllowance" data-type="shield" data-key="{{allowance.key}}" class="fa-regular fa-xmark clickable"></i>{{allowance.label}}</label>
                    {{/each}}
                </div>
            </div>
            <div class="gear-allowance-drag-slot flexcol" style="flex: 0;">
                <div class="section-header">{{localize "BREAK.GEAR.WeaponAllowances"}}</div>
                <select name="weaponAllowance">
                    <option value="">Pick an item</option>
                    {{#each weaponTypes as |type|}}
                        <option value="{{type.key}}" {{#if type.disabled}}disabled{{/if}}>{{type.label}}</option>
                    {{/each}}
                </select>
                <div style="display: flex;flex-wrap:wrap;row-gap:8px;margin-top:12px;">
                    {{#each weaponAllowances as |allowance|}}
                        <label style="width: 33%;max-width:250px;"><i data-action="removeAllowance" data-type="weapon" data-key="{{allowance.key}}" class="fa-regular fa-xmark clickable"></i>{{allowance.label}}</label>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>