<div class="flexcol" style="flex: 1;">
    <div class="section-header">
        {{localize "BREAK.Actions"}}
        <div style="display:flex;width:100%;justify-content:flex-end;margin-right:12px;">
            <a data-action="addAction"><i class="fa-regular fa-plus"></i></a>
        </div>
    </div>
    <div style="flex 1; display: flex; flex-direction:column;">
        {{#each actions as |action|}}
            <div style="margin-bottom: 6px;align-items: center;display:flex;border-bottom: 1px dashed; height:48px;" data-id="{{action.id}}" data-type="action">
                <a style="cursor: pointer;flex: 1;" class="item-link" data-id="{{action.id}}" data-action="displayAction">{{action.name}}</a>
                <span style="flex: 1">{{localize action.rollTypeLabel}}</span>
                <span style="flex: 1">{{localize action.actionCostLabel}}</span>
                <a class="item-control interface-only" style="margin-left: auto;" data-context-menu data-id="{{action.id}}" data-type="action">
                    <i class="fas fa-ellipsis-vertical"></i>
                </a>
            </div>
        {{/each}}
    </div>
</div>