<div class="adversary-misc-section">
    <div class="adversary-misc-sub-section">
        <label>{{localize "BREAK.Habitat"}}</label>
        {{#if editable}}
        <prose-mirror name="system.misc.habitat" value="{{ document.system.misc.habitat }}"></prose-mirror>
        {{else}}
        <div class="editor">
            <div class="editor-content">{{{ habitatHTML }}}</div>
        </div>
        {{/if}}
    </div>
    <div class="adversary-misc-sub-section">
        <label>{{localize "BREAK.Gear"}}</label>
        {{#if editable}}
        <prose-mirror name="system.misc.gearInfo" value="{{ document.system.misc.gearInfo }}"></prose-mirror>
        {{else}}
        <div class="editor">
            <div class="editor-content">{{{ gearInfoHTML }}}</div>
        </div>
        {{/if}}
    </div>
</div>
<div class="adversary-misc-section">
    <div class="adversary-misc-sub-section">
        <label>{{localize "BREAK.Communication"}}</label>
        {{#if editable}}
        <prose-mirror name="system.misc.communication" value="{{ document.system.misc.communication }}"></prose-mirror>
        {{else}}
        <div class="editor">
            <div class="editor-content">{{{ communicationHTML }}}</div>
        </div>
        {{/if}}
    </div>

    <div class="adversary-misc-sub-section">
        <label>{{localize "BREAK.Tactics"}}</label>
        {{#if editable}}
        <prose-mirror name="system.misc.tactics" value="{{ document.system.misc.tactics }}"></prose-mirror>
        {{else}}
        <div class="editor">
            <div class="editor-content">{{{ tacticsHTML }}}</div>
        </div>
        {{/if}}
    </div>
</div>
<div class="adversary-misc-section">
    <div class="adversary-misc-sub-section">
        <label>{{localize "BREAK.Indicators"}}</label>
        {{#if editable}}
        <prose-mirror name="system.misc.indicators" value="{{ document.system.misc.indicators }}"></prose-mirror>
        {{else}}
        <div class="editor">
            <div class="editor-content">{{{ indicatorsHTML }}}</div>
        </div>
        {{/if}}
    </div>
    <div class="adversary-misc-sub-section">
        <label>{{localize "BREAK.RolePlayingNote"}}</label>
        {{#if editable}}
        <prose-mirror name="system.misc.rpNote" value="{{ document.system.misc.rpNote }}"></prose-mirror>
        {{else}}
        <div class="editor">
            <div class="editor-content">{{{ rpNoteHTML }}}</div>
        </div>
        {{/if}}
    </div>
</div>
<div class="adversary-misc-section">
    <div class="adversary-misc-sub-section">
        <label>{{localize "BREAK.Customization"}}</label>
        {{#if editable}}
        <prose-mirror name="system.misc.customization" value="{{ document.system.misc.customization }}"></prose-mirror>
        {{else}}
        <div class="editor">
            <div class="editor-content">{{{ customizationHTML }}}</div>
        </div>
        {{/if}}
    </div>
    <div class="adversary-misc-sub-section">
        <label>{{localize "BREAK.Reskin"}}</label>
        {{#if editable}}
        <prose-mirror name="system.misc.reskin" value="{{ document.system.misc.reskin }}"></prose-mirror>
        {{else}}
        <div class="editor">
            <div class="editor-content">{{{ reskinHTML }}}</div>
        </div>
        {{/if}}
    </div>
</div>
<div class="adversary-misc-section">
    <div class="adversary-misc-sub-section">
        <label>{{localize "BREAK.Yield"}}</label>
        {{#if editable}}
        <prose-mirror name="system.misc.yield" value="{{ document.system.misc.yield }}"></prose-mirror>
        {{else}}
        <div class="editor">
            <div class="editor-content">{{{ yieldHTML }}}</div>
        </div>
        {{/if}}
    </div>
</div>