<section class="flexcol {{cssClass}} scrollable" autocomplete="off" style="height: 100%;">
    <div style="display:flex;column-gap: 24px;flex: 1;">
        <div class="flexcol" style="flex: 0.75;">
            <div class="size-drag-slot" id="size" style="flex: 0;">
                <div class="section-header">{{localize "BREAK.Size"}}</div>
                <select name="system.size" id="type-select" >
                    {{#each sizes as |size|}}
                        <option value="{{size.key}}" {{#if size.active}}selected="selected"{{/if}}>{{size.label}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="flexcol" style="flex: 0;">
                <div class="section-header">{{localize "BREAK.QUIRKS.QuirkCategories"}}</div>
                <select name="quirkCategory" id="type-select" >
                    <option value="">Pick an item</option>
                    {{#each quirkCategoryList as |type|}}
                        <option value="{{type.key}}" {{#if type.disabled}}disabled{{/if}}>{{type.label}}</option>
                    {{/each}}
                </select>
                <div style="display: flex;flex-wrap:wrap;row-gap:8px;margin-top:12px;">
                    {{#each quirkCategories as |category|}}
                        <label style="width: 33%;max-width:250px;"><i data-action="removeQuirkCategory" data-key="{{category.key}}" class="fa-regular fa-xmark clickable"></i>{{category.label}}</label>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="flexcol" style="flex: 1;">
            <div class="section-header">
                {{localize "BREAK.Description"}}
            </div>
            {{#if editable}}
            <prose-mirror name="system.description" value="{{ document.system.description }}" style="flex: 1;"></prose-mirror>
            {{else}}
            <div class="editor">
                <div class="editor-content">{{{ descriptionHTML }}}</div>
            </div>
            {{/if}}
        </div>
    </div>
</section>
